.MuiAppBar-colorDefault{
    background-color: var(--jf-palette-background-transparent);
    backdrop-filter: var(--jf-blur-base);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    box-shadow: none !important;
    background-image: none !important;
}

.MuiAppBar-colorDefault::before {
  content: "";
  position: absolute;
  inset: 0;
  padding-bottom: 1px; /* épaisseur bordure */
  border-radius: inherit;
  background: linear-gradient(var(--jf-border-gradient));
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;

}