@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global Variables */
:root {
  --bg-color: #18181849;
  --blur: blur(16px) saturate(180%);
  --border-color: linear-gradient(45deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 41%, rgba(255, 255, 255, 0.1) 57%, rgba(255, 255, 255, 0.3) 100%);
  --card-bg: #101010;
  --indicator-bg: #10101094;
  --transparent-bg: #10101000;
}

/* Global Styles */
html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
  margin: 0;
  padding: 0;
}

/* Elements with transparency and blur effects */
.skinHeader.semiTransparent,
.skinHeader,
.mainDrawer,
.actionSheet,
select:enabled,
option {
  background-color: var(--bg-color);
  backdrop-filter: var(--blur) !important;
  -webkit-backdrop-filter: blur(16px) saturate(180%) !important;

}

/* Border styling for certain elements */
.skinHeader,
.actionSheet,
.mainDrawer {
  border: 1px solid transparent;
  border-image-slice: 1;
  border-image-source: var(--border-color);
}

/* Specific styles for .skinHeader */
.skinHeader {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 5px;
}

/* Form elements */
select:enabled,
option {
  border-style: solid;
  border-width: 1px;
}

/* Hidden elements */
.selectVideoContainer {
  display: none !important;
}

/* Style for .skinHeader-withBackground.osdHeader */
.skinHeader-withBackground.osdHeader {
  border: 0;
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
  background: linear-gradient(180deg, hsla(0, 0%, 6%, .75), hsla(0, 0%, 6%, 0));
  color: #eee;
  height: 7.5em;
  pointer-events: none;
  position: relative;
  transition: opacity .3sease-out;
  z-index: 1;
}

/* Overlay elements */
.cardOverlayContainer,
.cardScalables,
.cardPadder {
  overlay: none;
}

.cardOverlayContainer {
  background-color: var(--transparent-bg);
}

/* List and transition effects */
.listItem {
  transition: 0.3s all ease-in-out;
}

.listItem:hover {
  background-color: #00a5dc28;
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: var(--blur);
}

/* Card styles */
.cardBox {
  background: linear-gradient(var(--card-bg), var(--card-bg)) padding-box,
              var(--border-color) border-box;
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  padding: 25px;
  transition: transform 0.3s ease-in-out;
}

.itemsContainer > .card > .cardBox:hover {
  transform: translateY(-5px);
}

/* Text styles */
.cardText {
  font-size: large;
  padding: 2%;
}

.cardText-secondary {
  font-size: small;
}

/* Margin adjustments for overflow elements */
.overflowBackdropCard[data-index="0"],
.overflowPortraitCard[data-index="0"],
.overflowSquareCard[data-index="0"] {
  margin-left: 1.5vw;
}

/* Primary content styling */
.detailPagePrimaryContainer {
  background-color: var(--transparent-bg);
  display: inline-table;
  left: 5%;
  padding-left: 5%;
  z-index: 2;
}

/* Layout adjustments for desktop */
.layout-desktop .detailPageContent {
  padding-left: 5%;
}

.layout-desktop .detailPagePrimaryContent {
  width: 45%;
}

.layout-desktop .detailPageSecondaryContainer {
  background-color: var(--transparent-bg);
  margin: 0 0 1.25em 0;
}

.layout-desktop .itemDetailsGroup {
  margin-top: 0;
}

/* Desktop background settings */
html.preload.layout-desktop {
  background-color: #181818;
}

.layout-desktop .detailLogo {
  background-position: top left;
  left: 5%;
}

.layout-desktop .itemBackdrop {
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  right: -20%;
  width: 80vw;
}

/* Backdrop container */
.backdropContainer {
  height: 100vh;
  left: 20%;
  position: absolute;
  width: 80vw;
}

.backgroundContainer.withBackdrop{
  background-color: transparent;
}

#reactRoot:has(.skinHeader.semiTransparent) > .backgroundContainer.withBackdrop {
  background-color: transparent;
  background: url("https://raw.githubusercontent.com/alexyle/jellyfin-theme/main/glassmorphism/mask.png");
  background-size: cover;
  height: 100vh;
  margin-left: 20%;
  position: absolute;
  width: 80vw;
}

.layout-desktop .detailPageWrapperContainer {
  margin-top: -65vh;
}

.skinHeader:has(.noHomeButtonHeader)
  .backdropContainer {
    backdrop-filter: blur(16px) saturate(180%);
    background-color: #18181849;
    width: 100vw;
    left: 0;
  }



  .skinHeader:has(.noHomeButtonHeader)
    .layout-desktop .backgroundContainer {
    display: none;
  }

.skinHeader.noHomeButtonHeader .backdropContainer {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: #18181849;
  width: 100vw;
  left: 0;
}

.skinHeader.noHomeButtonHeader .layout-desktop .backgroundContainer {
  display: none;
}

#reactRoot:not(:has(.skinHeader.semiTransparent)) > .backgroundContainer.withBackdrop {
  backdrop-filter: blur(30px) saturate(80%) brightness(60%);
  background: none;
  background-color: #18181849;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 0;
}


#reactRoot:not(:has(.skinHeader.semiTransparent)) >  .backdropContainer {
  height: 100vh;
  left: 0;
  position: fixed !important;
  width: 100vw;
  animation: BackgroundMove 12s ease-in-out infinite alternate;
}

@keyframes BackgroundMove {
  0% {
    transform: scale(1) translateY(0px);
  }
  50% {
    transform: scale(1.02) translateY(-10px);
  }
  100% {
    transform: scale(1) translateY(0px);
  }
}


/* Hide unnecessary elements */
.layout-desktop .detailImageContainer .card,
.layout-desktop .itemTags,
.layout-desktop .itemName.originalTitle {
  display: none;
}

.layout-desktop .itemName,
.layout-mobile .itemName {
  font-weight: normal;
}

.layout-desktop a.overview-expand.emby-button {
  margin: 0;
  padding: 0;
}


/* Status indicators */
.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator,
.playedIndicator {
  backdrop-filter: var(--blur) !important;
  -webkit-backdrop-filter: blur(16px) saturate(180%) !important;
  background-color: var(--indicator-bg) !important;
  box-shadow: none;
}


/* Hover effects for menu options */
.actionSheetMenuItem:hover,
.navMenuOption:hover {
  background-color: #00a5dc28;
}

/* Floating action button (FAB) for cards */
.cardOverlayFab-primary {
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: linear-gradient(rgba(32, 32, 32, 0.1), rgba(32, 32, 32, 0.1)) padding-box,
              var(--border-color) border-box;
  background-color: rgba(0, 164, 220, 0.4);
  backdrop-filter: var(--blur);
  border: 2px solid transparent;
}

.cardOverlayFab-primary:hover {
  background: linear-gradient(rgba(0, 164, 220, 0.1), rgba(0, 164, 220, 0.1)) padding-box,
              var(--border-color) border-box;
}

/* Progress bars and inner card styles */
.itemProgressBarForeground {
  background-color: #00a5dc93;
  border-radius: 10px;
  z-index: 1;
}

.innerCardFooter > .itemProgressBar {
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: var(--blur);
  background-color: #18181849;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  overflow: hidden;
  padding: 5px;
  position: relative;
  right: 10px;
}



/* Headings */
h2 {
  font-weight: 700;
}

/* Desktop play button styles */
.layout-desktop .btnPlay {
  background: linear-gradient(var(--card-bg), var(--card-bg)) padding-box,
              var(--border-color) border-box;
  border: 1px solid transparent;
  border-radius: 2em;
}

.layout-desktop .btnPlay:hover {
  background-color: #00a5dc28;
  transform: translateX(5px);
}

.layout-desktop .btnPlay::after {
  color: white;
  content: attr(title);
  margin: 0 10px 0 2px;
}

.layout-desktop .btnPlay.detailButton {
  flex-direction: row;
}

/* Media Query for hover effects */
@media (hover: hover) and (pointer: fine) {
  .paper-icon-button-light:hover:not(:disabled) {
    background-color: #00a5dc11;
    color: #00a5dcec;
  }
}

/* Other styles */
.raised {
  border-radius: 4em;
}

#btnShutdown {
  background-color: #bb4a4a;
}

.paperList {
  border-radius: 1em;
}


.sliderContainer {
  height: 1em;
}


.cardBox:not(.visualCardBox) .cardPadder{
  background-color: #00000000;
}

.cardImageContainer {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

/* Now Playing Bar Styles */

.nowPlayingBar {
  position: fixed;
  bottom: 1vh;
  left: 3vw;
  right: 3vw;
  height: 7vh;
  border-radius: 1em;
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: var(--blur);
  background-color: #18181849; 
  z-index: 1;
}

.nowPlayingBar::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: inherit;
  background: var(--border-color);
  padding: 1px; 
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: -1;
}


.nowPlayingBarPositionContainer{
  top: 3em;
  left: 30em;
  right: 30em;
}

.nowPlayingBarCenter {
  top: -.04em;
}

.mdl-slider-background-flex{
  height: .3em !important;
}


.nowPlayingBar .nowPlayingImage {
  border-radius: 2em;
  margin: 1em;
  height: 3.5em;
  width: 3.5em;
  background-size: auto;
  background-position: initial;
  animation: rotating 4s linear infinite;
  -webkit-mask: 
    radial-gradient(
      circle at center,       
      transparent 20%,        
      black 21%             
    ) no-repeat center/100% 100%;
  mask: 
    radial-gradient(
      circle at center,
      transparent 20%,
      black 21%
    ) no-repeat center/100% 100%;

  background-clip: padding-box;
}



.sliderBubble {
  background-color: #00000000; 
  z-index: 1;
}

.sliderBubbleText{
  font-size: medium;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nowPlayingPageImage{
  border-radius: 10em;
  margin: 1em;
  height: 15em;
  width: 15em;
  background-size: auto;
  background-position: initial;
  animation: rotating 4s linear infinite paused;

  -webkit-mask: 
    radial-gradient(
      circle at center,       
      transparent 20%,        
      black 21%             
    ) no-repeat center/100% 100%;
  mask: 
    radial-gradient(
      circle at center,
      transparent 20%,
      black 21%
    ) no-repeat center/100% 100%;

  background-clip: padding-box;
}

.nowPlayingInfoContainer:has(.nowPlayingInfoControls .material-icons.pause_circle_filled)
  .nowPlayingPageImage {
  animation-play-state: running;
}

.nowPlayingInfoContainer:has(.nowPlayingInfoControls .material-icons.play_circle_filled)
  .nowPlayingPageImage {
  animation-play-state: paused;
}

.nowPlayingBarTop:has(.nowPlayingBarCenter .material-icons.pause_circle_filled)
  .nowPlayingImage {
  animation-play-state: running;
}

.nowPlayingBarTop:has(.nowPlayingBarCenter .material-icons.play_arrow)
  .nowPlayingImage {
  animation-play-state: paused;
}



